/*自定义弹框 start**********************************/
.modal__overlay {position: fixed; width: 100%;height: 120%; min-height:500px;top: 0; right: 0;opacity: .6;background-color: black;z-index: 999; }
.modal__dialog {position: fixed;width: 76%; top:40%; z-index: 1000; left:12%;min-width:270px; max-width:640px; min-height:88px;
 border-radius: 7px; background:#fff;font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	 -webkit-animation-duration: .15s;animation-duration: .15s;-webkit-animation-fill-mode: none; animation-fill-mode: none; 
   /* overflow:hidden;  三星安卓4.3 qq bug 初始化渲染 位移*/
}
.modal__dialog_hd {padding: 15px 20px 0; font-weight: 500;font-size: 18px;border-radius: 7px 7px 0 0; overflow: hidden; color:#000; text-align:center;}
.modal__dialog_hd +.modal__dialog_bd {padding-top: 8px;}
.modal__dialog_bd { padding: 15px 20px;  font-size: 14px; color: #666; word-wrap: break-word; word-break: break-all;border-radius:  7px 7px 0 0 ; -webkit-transform: translateZ(0); }
.modal__dialog_ft{position: relative; height:44px; line-height:44px; font-size: 17px; display: -webkit-box; display: box; display: -webkit-flex;display: flex;border-radius:  0 0 7px 7px;
 -webkit-user-select:none; color: #007aff; overflow: hidden;
}
.modal__dialog_ft:before {content: " "; position: absolute; left: 0; top: 0; pointer-events: none;width: 100%; height: 1px; background-color: rgba(200,199,204,.9); color: #d5d5d6;z-index:6;}
.modal__dialog_btn{ position: relative; height: 44px; font-size: 17px;line-height: 44px;text-align: center; display: block; width:100%; max-width: 100%; padding:0 5px; 
  cursor: pointer;-webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; box-flex: 1; -webkit-flex: 1; flex: 1; white-space: nowrap;text-overflow: ellipsis;	overflow: hidden;
}
.modal__dialog_btn:active { background:rgba(0,0,0,.1);}
.modal__dialog_btn:after{content: " "; position: absolute;left: auto; bottom: auto; right: 0; top: 0;pointer-events: none; width: 1px;height: 100%;background-color: rgba(200,199,204,.9);color: #d5d5d6;z-index:6;}
.modal__dialog_btn.warning{color: #ff3b30;}
.modal__dialog_ft.vertical{height:auto; display: block;}
.modal__dialog_ft.vertical .modal__dialog_btn:after{content: " "; left: 0; bottom: 0; right: 0; top: auto; width: 100%;height: 1px;}

.modal__dialog_btn:first-child:last-child { border-radius: 0 0 7px 7px;}/* 第一个 也是最后一个*/
.vertical .modal__dialog_btn:last-child {border-radius: 0 0 7px 7px;}

@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution: 144dpi),(min-resolution:1.5dppx) {
.modal__dialog_ft:before {-webkit-transform:scaleY(.5);transform: scaleY(.5);-webkit-transform-origin: 0 0;transform-origin: 0 0;}
.modal__dialog_btn:after{-webkit-transform:scaleX(.5);transform: scaleX(.5); -webkit-transform-origin: 100% 50%;transform-origin:100% 50%}	
.modal__dialog_ft.vertical .modal__dialog_btn:after{-webkit-transform:scaleY(.5);transform: scaleY(.5);-webkit-transform-origin: 0 100%;transform-origin: 0 100%}
}
@media (-webkit-device-pixel-ratio:1.5),(device-pixel-ratio:1.5) {
.modal__dialog_ft:before {-webkit-transform:scaleY(.6666);transform: scaleY(.6666);}
.modal__dialog_btn:after{-webkit-transform:scaleX(.6666);transform: scaleX(.6666);}	
.modal__dialog_ft.vertical .modal__dialog_btn:after{-webkit-transform:scaleY(.6666);transform: scaleY(.6666);}
}
@media (-webkit-device-pixel-ratio:3),(min-device-pixel-ratio:3){
.modal__dialog_ft:before {-webkit-transform:scaleY(.3333);transform: scaleY(.3333);}
.modal__dialog_btn:after{-webkit-transform:scaleX(.3333);transform: scaleX(.3333);}	
.modal__dialog_ft.vertical .modal__dialog_btn:after{-webkit-transform:scaleY(.3333);transform: scaleY(.3333);}		
}
@media (-webkit-min-device-pixel-ratio:4),(min-device-pixel-ratio:4){
.modal__dialog_ft:before {-webkit-transform:scaleY(.25);transform: scaleY(.25);}
.modal__dialog_btn:after{-webkit-transform:scaleX(.25);transform: scaleX(.25)}			
.modal__dialog_ft.vertical .modal__dialog_btn:after{-webkit-transform:scaleY(.25);transform: scaleY(.25);}		
}
.modal__dialog_btn:last-child:after { display: none;}

@-webkit-keyframes appear{0%{opacity:0;-webkit-transform:translateZ(0) scale(1.185);transform:translateZ(0) scale(1.185)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes appear{0%{opacity:0;-webkit-transform:translateZ(0) scale(1.185);transform:translateZ(0) scale(1.185)}100%{opacity:1;-webkit-transform:none;transform:none}}
@-webkit-keyframes disappear{0%{opacity:1}100%{opacity:0;-webkit-transform:translateZ(0) scale(1.185);transform:translateZ(0) scale(1.185)}}@keyframes disappear{0%{opacity:1}100%{opacity:0;-webkit-transform:translateZ(0) scale(1.185);transform:translateZ(0) scale(1.185)}}

.appear { -webkit-animation-name: appear; animation-name: appear;  -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out;}
.disappear { -webkit-animation-name: disappear;animation-name: disappear;-webkit-animation-timing-function:ease-out; animation-timing-function:ease-out;}

/*弹框 默认ios样式*/
.modal__dialog.default{ background:rgba(255,255,255,.98); /*-webkit-backdrop-filter: brightness(1.1) blur(10px); backdrop-filter: brightness(1.1) blur(10px); 滤镜导致overflow无效 毛躁边*/}

/*弹框 微信ui样式*/
.modal__dialog.weixin{ background-color:rgba(250,250,252,.98);}
.modal__dialog.weixin .modal__dialog_btn.default{color:#353535;}
.modal__dialog.weixin .modal__dialog_btn.primary{ color:#0bb20c;}
.modal__dialog.weixin .modal__dialog_btn.warning{ color:#F43530;}
.modal__dialog.weixin .modal__dialog_ft{ color:#0bb20c;}
/*自定义弹框 end**********************************/
*{margin:0; padding:0;-webkit-tap-highlight-color:transparent;}
html{font-size:100px;}
body{font-family:"microsoft yahei",helvetica; margin:0px auto; padding:0px;width:100%;height:100%; max-width:7.5rem; background:#fde055; overflow-x:hidden;-webkit-user-select:none;-webkit-text-size-adjust:none;font-size: 0.26rem;color: #333;}
ul,li,h1,h2,h3,h4,h5,p,input,dl,dt,dd,table,th,td,ol,form,bdo,em,i,strong{margin:0;padding:0;list-style:none;}
em,b,i{font-style: normal;}
img{ border:0; vertical-align:top;max-width: 100%;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{display: inline-block;}
a:link,a:visited{ text-decoration:none; color:#333;} a:hover{ text-decoration:none;}
#alert_msg{position: fixed; left:50%;  top:40%; width:50%; margin-left:-25%; z-index:998; background: rgba(0,0,0,.75);   min-height:40px; line-height:22px; text-align:center; color:#fff; font-size:0.26rem; padding:10px;  border-radius:5px;-webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transition:opacity .3s;transition:opacity .3s; opacity:0; visibility:hidden;}
#alert_msg.alert_msg_show{-webkit-transform:translateZ(0); transform:translateZ(0); opacity:1; visibility:visible;}
#share{display: none;position: fixed;width:100%;height: 100%;left: 0;top: 0;background: url(http://m.lrlz.com/h5/activity/fcjactivity/images/wx_share.png) center top / 80% no-repeat rgba(0, 0, 0, 0.701961);z-index: 99999;}
/*公共样式结束*/